.ColorFilter {
  div {
    &.Xbutton {
      float: right;
      padding: 0;
      position: relative;
      top: -73px;
    }
  }
  button {
    background-color: white;
    border: #b3cccc 1px solid;
    border-radius: 5px;
    color: #b3cccc;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 3px 3px 3px 0 #b3cccc;
  }
}

