.OrientationFilter {
  div {
    clear: both;
    display: inline-block;
    padding: 0 20px 5px 20px;
    margin: 0 auto;
    &.Xbutton {
      float: right;
      padding: 0;
      position: relative;
      top: -35px;
    }
    svg {
      display: block;
      margin: 0 auto;
    }
    label {
      display: block;
      text-align: center;
      padding: 4px;
    }

  }
}